@model FENGSHUIKOI.Data.Models.SuitableObject

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuitableObject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformationDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformationDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Element)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Element.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
