@model IEnumerable<FENGSHUIKOI.Data.Models.SuitableObject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InformationDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Element)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InformationDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
